.container_cards{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;       
 }

.card_principal{
   display: flex;
   flex-direction: row;
  max-width:54rem;
   height:15rem ;
}
.card_secondary{
width: 19rem;
height: 13rem;
margin: 1rem;
padding: 1rem;
color: black;
font-family: 'Franklin Gothic Medium';
    
}
.buttons{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.btn_delete{
    width: 2rem;
    height: 2rem;
    background-color:#D2D2D2 ;
    border-radius: 50%;
    margin: 0.5rem;
}
.btn_edit{
    width: 2rem;
    height: 2rem;
    background-color: #F6BF3A ;
    border-radius: 50%;
    margin: 0.5rem;
}
.icon_delete{
    margin:0.5rem;
    color: black;
}
.icon_edit{
    margin:0.5rem;
    color: black;
}
.btn_add{
 color: black;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium';
font-size: 1rem;
width: 87px;
height: 30px;
left: 60px;
top: 98px;
background: #F6D1B7;
border: 1px solid #F6D1B7;
border-radius: 10px;
}
.head_btn_add{
    width:30%;
    margin: 4rem;
    
    
}
.icon_btn_add{
 color: black;
}
 .head_group{
    display:flex;
    justify-content: center;
    align-items: center;
 }


.add{
    display:flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    margin-top: 2rem;

   

}
.icon_create{
    height: 10rem;
    width: 10rem;
    
}
form{
    padding: 3rem;
}