.pie-1{
    width: 100%;
    height: 60px;
    background-color: 
    #F6BF3A;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    color:white;
    padding: 5px;
    font-size: 0.9rem;
    }

    .derechsos{
        margin-top: 1rem;
    }
